* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  scroll-behavior: smooth;
}
.divPrincipal {
  display: flex;
  width: 95%;
  margin: 30px;
  min-height: 100vh;
  background-color: #ffffff;
  border-radius: 24px;
  flex-direction: column;
}
.divHeader {
  background: linear-gradient(to right, #fd6965, #f05c2e);
  border-radius: 24px 24px 0 0;
  text-align: center;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 900;
}
.pc {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 12px;
}
.cupcake {
  margin-top: 15px;
}
.registrarVenda {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 24px;
  margin: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease;
  gap: 20px;
}
.registrarVenda:hover {
  transform: translateY(-5px);
}

.caixaPrincipal {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 750px) {
  .caixaPrincipal {
    flex-wrap: wrap;
    width: 100%;
  }
  .registrarVenda {
    width: 100%;
  }

}
@media (max-width: 280px){
  .graph{
    margin: 0 0 0 0
  }
}

.teste {
  height: 3000px;
  width: 50px;
  background-color: #fd6965;
}

h2 {
  color: #333333;
}
.graph {
  background-color: #f56141;
  border-radius: 50%;
  padding: 3px;
}




button {
  cursor: pointer;
}




