.custosMensais {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  margin: 42px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}

.custosMensais:hover {
  transform: translateY(-5px);
}
.adicionar {
  border: none;
  border-radius: 12px;
  height: 60px;
  width: 50%;
  border-left: 4px solid #ff6b6b;
  transition: all 0.3s ease;
}
.adicionar:hover {
  transform: translateY(-5px);
}
.caixaT {
  width: 100%;
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.add,
.remove {
  background-color: #f05c2e;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: -8px;
  margin-right: 12px;
}
.divBtnAddDespesa{
  display: flex;
  justify-content: center;
  width: 48%;
}
.divDespesa{
  display: flex;
  width: 48%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
.caixaDespesa{
  display: flex;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-left: 4px solid #ff6b6b;
  background-color: #f8f9fa;
  padding: 24px;
  gap: 20px;
  justify-content: space-between;
  transition: all 0.3s ease 
}

.caixaDespesa:hover{
  transform: translateY(-5px);
}
.valorDespesa{
  display: flex;
  flex-direction: column;
  flex-direction: row;
  gap: 12px;
}
.Valor{
  color: #fe6d6b;
  font-weight: 600;
  font-size: 18px;  
}
.valoresProduto{
  display: flex;
  justify-content: center;
}
.Despesas h2{
  margin-bottom: 20px;
}

.caixaProdutos:nth-child(1){
  color: rgb(83, 83, 83);
  display: flex;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  align-items: center;
}
@media (max-width: 1240px){
  .caixaDespesa{
    justify-content: space-between;
    width: 100%;
  }
  .divDespesa{
    width: 100%;
  }
  .caixaDespesa:nth-child(1){
    align-items: center;
    color: rgb(83, 83, 83);
    font-size: 17px;
  }
  .divBtnAddDespesa{
  display: flex;
  justify-content: center;
  width: 100%;
}
}
@media (max-width: 660px){
    .divBtnAddDespesa{
  display: flex;
  justify-content: center;
  width: 100%;
    }
}
@media (max-width: 480px){
    .caixaDespesa{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }

}
@media (max-width: 380px){
  .caixaDespesa{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 325px){
  .caixaDespesa{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .Valor{
    justify-content: center;
  }
  .divBtnAddDespesa{
    width: 100%;
  }
  .adicionar{
    width: 100%;
  }
}